@import url("https://fonts.googleapis.com/css?family=Mulish|Poppins");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  /* original color */
  /* --primaryColor: #3fd0d4; */
  --primaryColor: #eb9800;
  --secondaryColor: #87edfe;
  --purpleColor: rgb(83, 97, 113);
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #f3f3f3;
  --darkGrey: #cfcfcf;
  --grey: grey;
  --mainTransition: all 0.2s linear;
  --mainSpacing: 4px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.4;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
h4 {
  letter-spacing: var(--mainSpacing) !important;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 1.25rem;
  letter-spacing: .5px;
  color: var(--purpleColor);
}
.defaultHero {
  /* min-height: calc(100vh - 62px); */
  min-height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.7), rgba(25, 25, 25, .5)),
    url("../images/defaultBcg.jpeg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-white,
.btn-primary,
.btn-action {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  border-radius: 35px;
}
.btn-white:hover {
  background: var(--mainGrey);
  color: var(--mainBlack);
}
.btn-primary {
  background: transparent;
  color: var(--mainBlack);
  border: 2px solid var(--mainBlack);
  font-weight: bold;
  padding: 13px 24px;
}
.btn-primary:hover {
  background: var(--mainGrey);
  opacity: .7;
  /* color: var(--primaryColor); */
}
.btn-action {
  background: var(--primaryColor);
  border: var(--primaryColor);
}
.btn-action:hover {
  opacity: .8;
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.rich {
  background: var(--primaryColor);
}
